body{
    margin:0px;
    font-family: sans-serif;
}
header{
    background-color: rgb(15, 17, 31);
border:1px solid white;
margin:-1px 0px 0px -1px;
height: 51px;
}
.menu{
    background-color: white;
}
.listamenu{
    margin:10px;
    list-style-type: none;
    list-style-position: inside;
}
header nav li{
    display:inline-block;
    text-align: center;
    width:10%;
    text-transform: uppercase;
    box-sizing: border-box;
    position:absolute; 
    right:0;
    padding:5px;
    letter-spacing: 2px;
    font-size: 16px;
    height:30px;
}
header nav a{
    color:rgb(50, 47, 100);
    text-decoration: none;
}
a:hover{
    color:white;
    transition: all 0.5s linear;

}
.portfolio{
    right:25%;
}
.about{
    right: 14%;
}
.contact{
    right:3%;
}
.fotodotopo{
    margin-top:0;
    position: absolute;
    left:15%;
}
.fotodocentro{
    border-top: 1px solid transparent;
    background-image:url(../Imagens/topo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: scroll;
    height:500px;
    margin:-5px 10%;
}
.marginarrumada{
    margin:0 14%;
}
.titulo1 h1,main .titulo1 p{
    text-align: center;
}
.titulo1 h1{
    font-size: 35px;
    height:90px;
    line-height:90px;
}
main .titulo1 p{
    line-height: 1.8;
    letter-spacing: 1.1px;
    margin-bottom:50px;
}
.imagens{
    padding:10px;
    overflow:auto;
    text-align: center;
}
.imagem{
    width:30%;
    float:left;
}
.imagem img{
    width:100%;
    display:block;
}
.imagem1{
    margin-left:5%;

}
.imagem1,.imagem2{
    margin-right:2%;
}
.marginarrumada .imagens h3{
    text-transform: uppercase;
    color:rgb(44, 44, 44);
    letter-spacing: 2px;
    font-weight: bold;

} 
.marginarrumada .imagens p{

    color:rgb(90, 90, 90);
    margin-top:-10px;
} 
article{
    background-color: #043c54;
    box-sizing: border-box;
    padding:60px;
    color:white;
    position: relative;
    height:500px;
    background-image:url("../Imagens/bg_detalhe.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
}
article h1{
    font-size:35px;
    text-transform: uppercase;
}
.textosarticle{
    z-index: 2;
    display:inline-block;
}
article p{
    line-height: 1.6;
    letter-spacing: 1.29px;
    text-align: left;
   width:470px;
}
article img{
    width:400px;
    position:absolute;
    bottom:0;
    right:0;
    z-index: 0;
    display:inline-block;
}
.contatos{
    height:100px;
    letter-spacing: 1.2px;
    text-align: center;
    color:rgb(36, 68, 94);
    text-transform: uppercase;
}
.contatos address{
    font-style: normal;
    font-weight: bold;
    height: 50px;
    margin-top:25px;
    padding:20px;
    
}
.mapa{
    text-align: center;
    position: static;
}
footer{
    color:rgb(35, 63, 156);
    margin-top:50px;
    height:75px;
    line-height: 75px;
    width: 100%;
    background-color: rgb(11, 15, 39);
    text-align: center;
    text-shadow: 2px 2px 5px rgb(12, 11, 46);
}